<!DOCTYPE html>
<html>
  <head>
    <title>JustNote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <script src="dist/timeago.js" type="text/javascript"></script>
    <script type="text/javascript"> window.logoURL="<%= image_url('logo.svg') %>" </script> 
    <script type="text/javascript"> window.compURL="<%= image_url('desktop.png') %>" </script> 
    <script type="text/javascript"> window.focusURL="<%= image_url('focus.png') %>" </script> 
    <script type="text/javascript"> window.greenURL="<%= image_url('green.jpg') %>" </script> 
    <script type="text/javascript"> window.newnoteURL="<%= image_url('new-note.png') %>" </script> 
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
